@font-face {
    font-family: 'Poppins Regular';
    src: url('../Bloque-1/Fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../Bloque-1/Fonts/Poppins-Regular.ttf') format('truetype');
}

h2 {
    font-family: 'Poppins Regular', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 65px;
    text-align: left;
}

b {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 42.69px;
    font-weight: 700;
    line-height: 43.36px;
    text-align: left;
}

.textoBloque {
    font-family: 'Poppins Regular', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}