@font-face {
    font-family: 'Poppins Regular';
    src: url('../Bloque-1/Fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../Bloque-1/Fonts/Poppins-Regular.ttf') format('truetype');
}

/* traigo rockbelt */
@font-face {
    font-family: 'RockSalt';
    src: url('../Bloque-1/Fonts/RockSalt-Regular.ttf') format('truetype');
}

h2 {
    font-family: 'Poppins Regular', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 65px;
    text-align: left;
}

b {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 42.69px;
    font-weight: 700;
    line-height: 43.36px;
    text-align: left;
}

.textoBloque {
    font-family: 'Poppins Regular', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;

}

.fondo3 {
    background: radial-gradient(84.06% 70.03% at 19.16% -2.84%, #060659 0%, #03033D 34.54%, #000000 63.01%, #000000 97.48%);
    height: auto;
    padding: 50vh 0 40vh 0;



    /* z-index: 2; */
    /* width: 100%;
        min-height: 120vh; */
    /* align-items: center;
        display: flex;
        z-index: 0; */
    /* user-select: none;
        overflow: hidden; */

    background-image: url('../Assets/block-3-background.png');
    /* Asegura que el contenedor ocupe al menos toda la pantalla */
    /* Degradado de #242244 a negro */
    background-color: white;
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;

}

.subtituloPoppins {
    font-family: 'Poppins Regular', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    color: #ffffff;
}

.bloqueCabecera {
    width: 40vw;
    margin-left: 5vw;
}

.textoNormalPoppins {
    font-family: 'Poppins Regular', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    color: #ffffff
}

.placesContainer {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.arrow {
    width: 50px;
}

.arrowBox {
    position: absolute;
}

.arrowText {
    font-family: 'RockSalt', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;

}

.arrow1 {
    position: absolute;
    top: 0;
    right: 38vw;


}

.arrowImage1 {
    /* gira 25 grados */
    transform: rotate(-90deg);
    margin-left: 0vw;
}

.arrowImage2 {
    /* gira 25 grados */
    transform: rotate(25deg);
    margin-left: 0vw;
}

.arrow2 {
    position: absolute;
    top: 22vh;

    right: 77vw;
}

.arrow3 {
    position: absolute;
    top: 80vh;

    right: 82vw;

}

.arrowImage3 {
    /* gira 25 grados */
    transform: rotate(135deg);

}

.places {
    width: 80vw;
}

.arrow4 {
    position: absolute;
    top: 172.5vh;
    margin: 0;
    right: 53vw;

    padding: 0;
}

.arrowImage4 {
    /* gira 25 grados */
    transform: rotate(-90deg);
    margin: 0;
    padding: 0;
}