@import url('../../fonts/font.css');

.firstContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120vh;
    background-color: white;

}

.defineContainerText {

    width: 95%;

}



.containerTextMoreImage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;

}

.containerBlueLetter {
    display: flex;
    align-items: center;
    width: 55%;
    height: 5vh;
    background-color: #00FFD7;
    border-radius: 1rem;
    padding: 5px;
    margin-top: 1.5%;
    margin-left: -1%;
    overflow: hidden;


}


.thirdText {
    font-family: 'Poppins-Regular';
    font-size: 30px;
    padding: 0% 0% 0% 1.5%;
    color: black;


}


.leftContainer {
    display: flex;
    margin: 4% 0% 0% 3%;
    width: 50%;
    height: 83%;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 1.5%;
}

.textH3 {
    text-align: left;
    padding: 1rem;
    font-family: 'Poppins-Regular';
}

.firstTextLeftContainer,
.firstTextLeftContainerEnglish {
    font-family: 'Poppins-Regular';
    font-size: 30px;
    text-align: left;
    line-height: 1;
    margin-top: 7%;
    margin-bottom: -2%;
    padding: 1.2rem;

}

.secondTextLeftContainer {
    font-family: 'Poppins-Regular';
    font-size: 30px;
    text-align: left;
    line-height: 1;
    margin-top: 0%;
    padding: 1rem;
    margin-bottom: -8%;


}

.eyesImage {

    width: 15%;

    margin: 5% 13% 2% 0%;

}

.fourthText,
.additionalText,
.thirdText,
.firstTextLeftContainer,
.firstTextLeftContainerEnglish,
.secondTextLeftContainer {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.additionalText {
    font-family: 'Poppins-Bold';
    font-size: 20px;
}

.fourthText {
    font-family: 'Poppins-Regular';
    font-size: 20px;
    text-align: left;
    color: #028470;

}


.containerPhotos {
    margin-top: 5%;
    position: relative;
    width: 50%;
    overflow: hidden;
    height: 120%;

}

.boxTwo {
    overflow: hidden;
    position: absolute;
    width: 73%;
    height: 45%;
    top: 72%;
    box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
    left: 62%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
    border-radius: 10%;
}

.boxTwo img {
    position: relative;
    width: 115%;
    height: 101%;
    top: 50%;
    left: 50%;
    /* Asegura que la imagen cubra todo el div */
    transform: translate(-50%, -50%) rotate(0deg);
}

.iconoGirl {
    width: 55%;
    z-index: 3;
    position: absolute;
    top: 25%;
    left: 2%;

}

.iconoUserMap {
    width: 50%;
    z-index: 3;
    position: absolute;
    bottom: 53%;
    left: 62%;

}


.boxOne img {
    position: relative;
    width: 120%;
    height: 155%;
    top: 50%;
    left: 50%;
    /* Asegura que la imagen cubra todo el div */
    transform: translate(-50%, -50%) rotate(-15deg);
}

.boxOne {
    box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    width: 73%;
    height: 45%;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
    border-radius: 10%;

}

.contenedorLetterBlueContainer {

    display: flex;
    flex-direction: row;

}


.letterParagraph {
    user-select: none;
    text-align: left;
    font-family: 'Poppins-Regular';
    font-size: 20px;


}

.containerLetterParagraph {
    display: flex;
    width: 80%;
    padding: 2%;
    border-radius: 25px;
    margin-right: 13%;
    margin-bottom: -1.5%;

    transform: translateX(100%);
    opacity: 0;

    transition: transform 1.5s ease-out, opacity 0.5s ease-out;
}

.containerLetterParagraph.active {
    transform: translateX(0);
    opacity: 1;
}

.containerPhotosMovil {
    display: none;
}



@media only screen and (max-width: 479px) {

    .leftContainer {
        width: 100%
    }

    .containerPhotos {

        display: none;
    }

    .containerPhotosMovil {
        display: flex;
        margin-top: -10%;
        position: relative;
        width: 90%;
        overflow: hidden;
        height: 120%;
        right: 6%;
    }

    .textH3 {
        font-size: 17px;
        line-height: 0px;
    }

    .defineContainerText {

        width: 100%;
        background-color: white;
    }

    .firstTextLeftContainer {
        font-family: 'Poppins-Regular';
        font-size: 17px;
        text-align: left;
        line-height: 1;
        margin-top: 7%;
        margin-bottom: -2%;
        padding: 1.2rem;
        font-weight: bolder;

    }

    .containerTextMoreImage {
        width: 100%;
    }

    .eyesImage {

        width: 15%;

        margin: 7% 14% 3% 0%;
        transform: rotate(10deg);

    }

    .containerBlueLetter {
        width: 50%;
        height: 2vh;
    }

    .secondTextLeftContainer {
        margin-bottom: -0.3rem;
        margin-left: 0.2rem;
        font-weight: bolder;
    }

    .contenedorLetterBlueContainer {

        display: flex;
        align-items: center;
        height: 1vh;
    }

    .thirdText {
        font-size: 15px;
        font-weight: bold;
    }

    .additionalText {

        font-size: 15px;
        text-align: left;

    }

    .firstTextLeftContainerEnglish {
        font-size: 16px;
        font-weight: bold;
    }

    .firstContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        z-index: 2;
        justify-content: start;


    }

    .secondTextLeftContainer {
        font-size: 17px;
    }

    .boxOne {
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
        width: 73%;
        height: 45%;
        top: 33%;
        left: 45%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 1;
        border-radius: 10%;

    }

    .boxTwo {
        overflow: hidden;
        position: absolute;
        width: 73%;
        height: 45%;
        top: 72%;
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        left: 58%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2;
        border-radius: 10%;
    }

    .containerLetterParagraph {
        display: flex;
        width: 90%;
        margin-right: 4%;
        margin-bottom: -3.5%;
        z-index: 1;
        opacity: 0;
        align-items: center;
        justify-content: center;
        transform: none;
        transition: none;
    }

    .letterParagraph {
        font-size: 18px;
    }

    .fourthText {
        font-size: 18px;
    }

    .iconoGirl {
        width: 40%;
        z-index: 3;
        position: absolute;
        top: 45%;
        left: 0%;

    }

    .iconoUserMap {
        width: 40%;
        z-index: 3;
        position: absolute;
        bottom: 55%;
        left: 68%;

    }
}



@media only screen and (min-width: 640px) and (min-height: 360px) {

    .boxTwo {
        overflow: hidden;
        position: absolute;
        width: 80%;
        height: 45%;
        top: 72%;
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        left: 58%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2;
        border-radius: 10%;
    }

    .boxTwo img {
        position: relative;
        width: 125%;
        height: 101%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .boxOne img {
        position: relative;
        width: 130%;
        height: 155%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(-15deg);
    }

    .boxOne {
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
        width: 80%;
        height: 45%;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 1;
        border-radius: 10%;

    }

    .firstContainer {
        margin-top: 80px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .leftContainer {
        height: 150vh;

    }

    .textH3 {
        font-size: 15px;
        margin-bottom: -5vh;
    }

    .letterParagraph {
        font-size: 10px;
    }

    .secondTextLeftContainer {
        font-size: 15px;
    }

    .thirdText {
        font-size: 14px;
    }

    .contenedorLetterBlueContainer {
        margin-top: -4vh;
    }

    .containerTextMoreImage {
        width: 100%;
        margin-left: -0.5vw;
    }

    .firstTextLeftContainer {
        line-height: 1rem;
        font-size: 0.8rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;
    }

    .secondTextLeftContainer {
        line-height: 0rem;
        font-size: 0.8rem;
        font-weight: bolder;
    }

    .firstTextLeftContainerEnglish {

        line-height: 1rem;
        font-size: 0.75rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;
    }

    .eyesImage {
        width: 15%;
        margin: 10% 16% 6% 0%;
        transform: rotate(10deg);

    }

    .containerTextMoreImage {
        margin-top: 27vh;
        width: 100%;
    }

    .containerLetterParagraph {
        width: 35vw;
        height: 150vh;
        text-align: left;
        margin-left: 1vw;
    }

    .letterParagraph {
        text-align: justify;
        font-size: 1rem;


    }

    .fourthText {
        font-size: 1rem;

    }

    .additionalText {
        font-size: 1rem;
        text-align: left;
        margin-left: 1vw;
    }

    .iconoUserMap {
        width: 50%;
        z-index: 3;
        position: absolute;
        bottom: 73%;
        left: 62%;

    }

    .iconoGirl {
        width: 50%;
        z-index: 3;
        position: absolute;
        top: 42%;
        left: 1%;

    }

}


@media (min-width: 600px) and (max-width: 776px) and (min-height: 500px) {

    .firstContainer {
        padding-top: 5vh;
    }

    .defineContainerText {

        width: 100%;

    }

    .leftContainer {

        margin-top: 0rem;

    }

    .firstTextLeftContainer,
    .firstTextLeftContainerEnglish {
        line-height: 1rem;
        font-size: 1.12rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;
    }

    .firstTextLeftContainerEnglish {
        font-size: 1rem
    }

    .containerBlueLetter {
        display: flex;

        margin-top: 0.7rem;

        height: 1rem;

    }

    .contenedorLetterBlueContainer {
        margin-top: -0.9rem;

    }

    .thirdText {
        font-family: 'Poppins-Regular';
        font-weight: bold;
        font-size: 1rem;
    }

    .secondTextLeftContainer {
        font-size: 1.12rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;

    }

    .leftContainer {

        width: 50%;
        height: 95%;

    }

    .textH3 {
        font-family: 'Poppins-Regular';

        font-size: 1.2rem;
        line-height: 0rem;
    }

    .letterParagraph {
        font-size: 0.9rem;
        text-align: justify;
    }

    .fourthText {
        font-size: 0.9rem;
        font-family: 'Poppins-Regular';

    }

    .additionalText {
        font-size: 110%;
        text-align: left;
        margin-top: 1rem;
    }

    .eyesImage {

        width: 13%;

        position: relative;
        margin: 12% 8% 5% 0%;
        transform: rotate(7deg);

    }

    .boxTwo {
        overflow: hidden;
        position: absolute;
        width: 80%;
        height: 30%;
        top: 58%;
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        left: 60%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2;
        border-radius: 10%;
    }

    .boxTwo img {
        position: relative;
        width: 115%;
        height: 101%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .boxOne img {
        position: relative;
        width: 130%;
        height: 155%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(-15deg);
    }

    .boxOne {
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
        width: 80%;
        height: 30%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 1;
        border-radius: 10%;

    }

    .iconoUserMap {
        width: 50%;
        z-index: 3;
        position: absolute;
        bottom: 73%;
        left: 62%;

    }

    .iconoGirl {
        width: 50%;
        z-index: 3;
        position: absolute;
        top: 35%;
        left: 2%;

    }

    .letterParagraph {
        user-select: none;
        font-family: 'Poppins-Regular';
        font-size: 20px;


    }

    .fourthText {
        font-family: 'Poppins-Regular';
        font-size: 20px;
        color: #028470;

    }


}

@media only screen and (min-width: 776px) and (min-height:1024px) {

    .containerPhotos {
        display: none;
    }

    .leftContainer {
        margin-top: -45vh;
        width: 90%;


    }

    .containerPhotosMovil {
        margin-top: 5vh;
        display: flex;
        position: relative;
        width: 100%;
    }

    .boxTwo {
        overflow: hidden;
        position: absolute;
        width: 80%;
        height: 45%;
        top: 72%;
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        left: 58%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2;
        border-radius: 10%;
    }

    .boxTwo img {
        position: relative;
        width: 125%;
        height: 101%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .boxOne img {
        position: relative;
        width: 130%;
        height: 155%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(-15deg);
    }

    .boxOne {
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
        width: 80%;
        height: 45%;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 1;
        border-radius: 10%;

    }

    .firstTextLeftContainer {
        font-size: 45px;
        font-family: 'Poppins-Regular';

    }

    .secondTextLeftContainer {
        font-size: 35px;
        font-family: 'Poppins-Regular';
        margin-bottom: 0.1vh;
    }

    .textH3 {

        font-size: 30px;

    }

    .thirdText {

        font-size: 35px;
        font-family: 'Poppins-Regular';
    }

    .contenedorLetterBlueContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .containerBlueLetter {
        width: 60%;
        height: 5vh;
    }

    .firstContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        overflow: hidden;
    }

    .eyesImage {

        width: 13%;

        position: relative;
        margin: 5% 15% 5% 0%;
        transform: rotate(7deg);

    }
}

@media (min-width: 776px) and (max-width: 874px) {

    .defineContainerText {

        width: 100%;

    }

    .leftContainer {

        margin-top: 0rem;

    }

    .firstTextLeftContainer,
    .firstTextLeftContainerEnglish {
        line-height: 1rem;
        font-size: 1.25rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;


    }

    .containerBlueLetter {
        display: flex;

        margin-top: 0.7rem;

        height: 1rem;

    }

    .contenedorLetterBlueContainer {
        margin-top: -0.9rem;

    }

    .thirdText {
        font-family: 'Poppins-Regular';
        font-weight: bold;
        font-size: 1.1rem;
    }

    .secondTextLeftContainer {
        font-size: 1.25rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;

    }

    .leftContainer {

        width: 50%;
        height: 95%;

    }

    .textH3 {
        font-family: 'Poppins-Regular';

        font-size: 1.3rem;
        line-height: 0rem;
    }

    .letterParagraph {
        font-size: 0.9rem;
        text-align: justify;
    }

    .fourthText {
        font-size: 0.9rem;
        font-family: 'Poppins-Regular';

    }

    .additionalText {
        font-size: 110%;
        text-align: left;
        margin-top: 1rem;
    }

    .eyesImage {

        width: 13%;

        position: relative;
        margin: 8% 10% 5% 0%;
        transform: rotate(7deg);

    }

    .boxTwo {
        overflow: hidden;
        position: absolute;
        width: 80%;
        height: 30%;
        top: 58%;
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        left: 60%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2;
        border-radius: 10%;
    }

    .boxTwo img {
        position: relative;
        width: 115%;
        height: 101%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .boxOne img {
        position: relative;
        width: 125%;
        height: 155%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(-15deg);
    }

    .boxOne {
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
        width: 80%;
        height: 30%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 1;
        border-radius: 10%;

    }

    .iconoUserMap {
        width: 50%;
        z-index: 3;
        position: absolute;
        bottom: 73%;
        left: 62%;

    }

    .iconoGirl {
        width: 50%;
        z-index: 3;
        position: absolute;
        top: 35%;
        left: 2%;

    }

    .letterParagraph {
        user-select: none;
        font-family: 'Poppins-Regular';
        font-size: 20px;


    }

    .fourthText {
        font-family: 'Poppins-Regular';
        font-size: 20px;
        color: #028470;

    }



}



@media (min-width: 874px) and (max-width: 1000px) {

    .defineContainerText {

        width: 100%;

    }

    .leftContainer {

        margin-top: 0rem;

    }

    .firstTextLeftContainer,
    .firstTextLeftContainerEnglish {
        line-height: 1rem;
        font-size: 1.3rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;


    }

    .firstTextLeftContainerEnglish {
        font-size: 1.2rem
    }

    .containerBlueLetter {
        display: flex;

        margin-top: 0.7rem;

        height: 1rem;

    }

    .contenedorLetterBlueContainer {
        margin-top: -0.9rem;

    }

    .thirdText {
        font-family: 'Poppins-Regular';
        font-weight: bold;
        font-size: 1.2rem;
    }

    .secondTextLeftContainer {
        font-size: 1.3rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;

    }

    .leftContainer {

        width: 50%;
        height: 95%;

    }

    .textH3 {
        font-family: 'Poppins-Regular';

        font-size: 1.4rem;
        line-height: 0rem;
    }

    .letterParagraph {
        font-size: 0.9rem;
        text-align: justify;
    }

    .fourthText {
        font-size: 0.9rem;
        font-family: 'Poppins-Regular';

    }

    .additionalText {
        font-size: 110%;
        text-align: left;
        margin-top: 1.2rem;
    }

    .eyesImage {

        width: 13%;

        position: relative;
        margin: 8% 14% 5% 0%;
        transform: rotate(7deg);

    }

    .boxTwo {
        overflow: hidden;
        position: absolute;
        width: 80%;
        height: 30%;
        top: 58%;
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        left: 60%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2;
        border-radius: 10%;
    }

    .boxTwo img {
        position: relative;
        width: 115%;
        height: 101%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .boxOne img {
        position: relative;
        width: 120%;
        height: 155%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(-15deg);
    }

    .boxOne {
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
        width: 80%;
        height: 30%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 1;
        border-radius: 10%;

    }

    .iconoUserMap {
        width: 40%;
        z-index: 3;
        position: absolute;
        bottom: 73%;
        left: 62%;

    }

    .iconoGirl {
        width: 50%;
        z-index: 3;
        position: absolute;
        top: 35%;
        left: 2%;

    }

    .letterParagraph {
        user-select: none;
        font-family: 'Poppins-Regular';
        font-size: 20px;


    }

    .fourthText {
        font-family: 'Poppins-Regular';
        font-size: 20px;
        color: #028470;

    }


}





@media (min-width: 1000px) and (max-width: 1200px) {
    .containerBlueLetter {
        display: flex;
        align-items: center;
        width: 55%;
        height: 5vh;
        background-color: #00FFD7;
        border-radius: 1rem;
        padding: 5px;
        margin-top: -0%;
        margin-left: -1%;
        overflow: hidden;


    }

    .containerTextMoreImage {
        margin-top: -25px;
    }

    .defineContainerText {

        width: 100%;

    }

    .leftContainer {

        margin-top: 0rem;

    }

    .firstTextLeftContainer,
    .firstTextLeftContainerEnglish {
        line-height: 2rem;
        font-size: 1.6rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;

    }

    .firstTextLeftContainerEnglish {
        font-size: 1.5rem
    }

    .containerBlueLetter {
        display: flex;

        margin-top: 0.7rem;

        height: 1rem;

    }

    .contenedorLetterBlueContainer {
        margin-top: -0.9rem;

    }

    .thirdText {
        font-family: 'Poppins-Regular';
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 0px;
    }

    .secondTextLeftContainer {
        font-size: 1.6rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;
        line-height: 1rem;

    }

    .leftContainer {

        width: 50%;
        height: 95%;

    }

    .textH3 {
        font-family: 'Poppins-Regular';

        font-size: 1.4rem;
        line-height: 0rem;
    }

    .letterParagraph {
        font-size: 0.9rem;
        text-align: justify;
    }

    .fourthText {
        font-size: 0.9rem;
        font-family: 'Poppins-Regular';

    }

    .additionalText {
        font-size: 110%;
        text-align: left;
        margin-top: 1.5rem;
    }

    .eyesImage {

        width: 13%;

        position: relative;
        margin: 8% 13% 5% 0%;
        transform: rotate(7deg);

    }

    .boxTwo {
        overflow: hidden;
        position: absolute;
        width: 70%;
        height: 30%;
        top: 58%;
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        left: 62%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2;
        border-radius: 10%;
    }

    .boxTwo img {
        position: relative;
        width: 115%;
        height: 101%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .boxOne img {
        position: relative;
        width: 120%;
        height: 155%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(-15deg);
    }

    .boxOne {
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
        width: 70%;
        height: 30%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 1;
        border-radius: 10%;

    }

    .iconoUserMap {
        width: 40%;
        z-index: 3;
        position: absolute;
        bottom: 73%;
        left: 62%;

    }

    .iconoGirl {
        width: 50%;
        z-index: 3;
        position: absolute;
        top: 35%;
        left: 2%;

    }

    .letterParagraph {
        user-select: none;
        font-family: 'Poppins-Regular';
        font-size: 20px;


    }

    .fourthText {
        font-family: 'Poppins-Regular';
        font-size: 20px;
        color: #028470;

    }


}


@media (min-width: 1200px) and (max-width: 1301px) {
    .containerBlueLetter {
        display: flex;
        align-items: center;
        width: 55%;
        height: 8vh;
        background-color: #00FFD7;
        border-radius: 1rem;
        padding: 5px;
        margin-top: -0%;
        margin-left: -1%;
        overflow: hidden;


    }

    .containerTextMoreImage {
        margin-top: -25px;
    }

    .defineContainerText {

        width: 100%;

    }

    .leftContainer {

        margin-top: 0rem;

    }

    .firstTextLeftContainer,
    .firstTextLeftContainerEnglish {
        line-height: 2rem;
        font-size: 1.9rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;

    }

    .containerBlueLetter {
        display: flex;
        align-items: center;
        margin-top: 0.4rem;

        height: 2rem;

    }

    .contenedorLetterBlueContainer {
        margin-top: -0.9rem;

    }

    .thirdText {
        font-family: 'Poppins-Regular';
        font-weight: bold;
        font-size: 1.7rem;
        line-height: 0px;
    }

    .secondTextLeftContainer {
        font-size: 1.9rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;
        line-height: 1rem;

    }

    .leftContainer {

        width: 50%;
        height: 95%;

    }

    .textH3 {
        font-family: 'Poppins-Regular';

        font-size: 1.5rem;
        line-height: 0rem;
    }

    .letterParagraph {
        font-size: 1.2rem;
        text-align: justify;
    }

    .fourthText {
        font-size: 0.9rem;
        font-family: 'Poppins-Regular';

    }

    .additionalText {
        font-size: 25px;
        text-align: left;
        margin-top: 1.5rem;
    }

    .eyesImage {

        width: 13%;

        position: relative;
        margin: 8% 13% 5% 0%;
        transform: rotate(7deg);

    }

    .boxTwo {
        overflow: hidden;
        position: absolute;
        width: 70%;
        height: 30%;
        top: 58%;
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        left: 62%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2;
        border-radius: 10%;
    }

    .boxTwo img {
        position: relative;
        width: 115%;
        height: 101%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .boxOne img {
        position: relative;
        width: 120%;
        height: 155%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(-15deg);
    }

    .boxOne {
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
        width: 70%;
        height: 30%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 1;
        border-radius: 10%;

    }

    .iconoUserMap {
        width: 40%;
        z-index: 3;
        position: absolute;
        bottom: 68%;
        left: 62%;

    }

    .iconoGirl {
        width: 50%;
        z-index: 3;
        position: absolute;
        top: 35%;
        left: 2%;

    }


    .letterParagraph {
        user-select: none;
        font-family: 'Poppins-Regular';
        font-size: 25px;


    }

    .fourthText {
        font-family: 'Poppins-Regular';
        font-size: 25px;
        color: #028470;

    }


}


@media (min-width: 1300px) and (max-width: 1422px) {
    .containerBlueLetter {
        display: flex;
        align-items: center;
        width: 55%;
        height: 8vh;
        background-color: #00FFD7;
        border-radius: 1rem;
        padding: 5px;
        margin-top: -0%;
        margin-left: -1%;
        overflow: hidden;


    }

    .containerLetterParagraph {
        margin-top: 12vh;
        width: 85%;

    }

    .containerPhotos {
        margin-top: 15vh;
        height: 100%;
    }


    .containerTextMoreImage {
        margin-top: -25px;
    }

    .defineContainerText {

        width: 100%;

    }

    .leftContainer {

        margin-top: 0rem;

    }

    .firstTextLeftContainer,
    .firstTextLeftContainerEnglish {
        line-height: 2rem;
        font-size: 2.1rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;

    }

    .firstTextLeftContainerEnglish {
        font-size: 1.7rem
    }

    .containerBlueLetter {
        display: flex;
        align-items: center;
        margin-top: 0.4rem;

        height: 2rem;

    }

    .contenedorLetterBlueContainer {
        margin-top: -0.9rem;

    }

    .thirdText {
        font-family: 'Poppins-Regular';
        font-weight: bold;
        font-size: 1.9rem;
        line-height: 0px;
    }

    .secondTextLeftContainer {
        font-size: 2.1rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;
        line-height: 1rem;

    }

    .leftContainer {

        width: 50%;
        height: 95%;

    }

    .textH3 {
        font-family: 'Poppins-Regular';

        font-size: 2rem;
        line-height: 0rem;
    }

    .letterParagraph {
        font-size: 1.2rem;
        text-align: justify;
    }

    .fourthText {
        font-size: 0.9rem;
        font-family: 'Poppins-Regular';

    }

    .additionalText {
        font-size: 30px;
        text-align: left;
        margin-top: 1.6rem;
        margin-left: -1vw;
    }

    .eyesImage {

        width: 13%;
        position: relative;
        margin: 8% 13% 5% 0%;
        transform: rotate(7deg);

    }

    .boxTwo {
        overflow: hidden;
        position: absolute;
        width: 70%;
        height: 40%;
        top: 68%;
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        left: 62%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2;
        border-radius: 10%;
    }

    .boxTwo img {
        position: relative;
        width: 105%;
        height: 101%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .boxOne img {
        position: relative;
        width: 115%;
        height: 155%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-15deg);
    }

    .boxOne {
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
        width: 70%;
        height: 40%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 1;
        border-radius: 10%;

    }

    .iconoUserMap {
        width: 40%;
        z-index: 3;
        position: absolute;
        bottom: 68%;
        left: 62%;

    }

    .iconoGirl {
        width: 40%;
        z-index: 3;
        position: absolute;
        top: 35%;
        left: 2%;

    }


    .letterParagraph {
        user-select: none;
        font-family: 'Poppins-Regular';
        font-size: 30px;


    }

    .fourthText {
        font-family: 'Poppins-Regular';
        font-size: 30px;
        color: #028470;

    }


}


@media (min-width: 1422px) {
    .containerBlueLetter {
        display: flex;
        align-items: center;
        width: 55%;
        height: 8vh;
        background-color: #00FFD7;
        border-radius: 1rem;
        padding: 5px;
        margin-top: -0%;
        margin-left: -1%;
        overflow: hidden;


    }

    .containerTextMoreImage {
        margin-top: -25px;
    }

    .defineContainerText {

        width: 100%;

    }

    .leftContainer {

        margin-top: 0rem;

    }

    .firstTextLeftContainer,
    .firstTextLeftContainerEnglish {
        line-height: 2rem;
        font-size: 2.35rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;

    }

    .firstTextLeftContainerEnglish {
        font-size: 2.0rem
    }

    .containerBlueLetter {
        display: flex;
        align-items: center;
        margin-top: 0.4rem;

        height: 2rem;

    }

    .contenedorLetterBlueContainer {
        margin-top: -0.9rem;

    }

    .thirdText,
    .thirdTextEnglish {
        font-family: 'Poppins-Regular';
        font-weight: bold;
        font-size: 2rem;
        line-height: 0px;
    }

    .thirdTextEnglish {
        font-size: 1.7rem;
    }

    .secondTextLeftContainer,
    .secondTextLeftContainerEnglish {
        font-size: 2.35rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;
        line-height: 1rem;

    }



    .secondTextLeftContainerEnglish {
        font-size: 2.0rem
    }

    .leftContainer {

        width: 50%;
        height: 95%;

    }

    .textH3 {
        font-family: 'Poppins-Regular';

        font-size: 2.35rem;
        line-height: 0rem;
    }

    .letterParagraph {
        font-size: 1.2rem;
        text-align: justify;
    }

    .fourthText {
        font-size: 0.9rem;
        font-family: 'Poppins-Regular';

    }

    .additionalText {
        font-size: 35px;
        text-align: left;
        margin-top: 1.5rem;
    }

    .eyesImage {

        width: 13%;

        position: relative;
        margin: 8% 13% 5% 0%;
        transform: rotate(7deg);

    }

    .boxTwo {
        overflow: hidden;
        position: absolute;
        width: 70%;
        height: 30%;
        top: 58%;
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        left: 62%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2;
        border-radius: 10%;
    }

    .boxTwo img {
        position: relative;
        width: 115%;
        height: 101%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .boxOne img {
        position: relative;
        width: 120%;
        height: 155%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(-15deg);
    }

    .boxOne {
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
        width: 70%;
        height: 30%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 1;
        border-radius: 10%;

    }

    .iconoUserMap {
        width: 50%;
        z-index: 3;
        position: absolute;
        bottom: 68%;
        left: 62%;

    }

    .iconoGirl {
        width: 50%;
        z-index: 3;
        position: absolute;
        top: 35%;
        left: 2%;

    }


    .letterParagraph {
        user-select: none;
        font-family: 'Poppins-Regular';
        font-size: 35px;


    }

    .fourthText {
        font-family: 'Poppins-Regular';
        font-size: 35px;
        color: #028470;

    }


}



@media (min-width: 1821px) {

    .containerBlueLetter {
        display: flex;
        align-items: center;
        width: 40%;
        height: 8vh;
        background-color: #00FFD7;
        border-radius: 1rem;
        padding: 8px;
        margin-top: -22%;
        margin-bottom: 3%;
        margin-left: -1%;
        overflow: hidden;

    }


    .containerTextMoreImage {
        margin-top: -25px;
    }

    .defineContainerText {

        width: 100%;

    }

    .leftContainer {

        margin-top: 0rem;

    }

    .firstTextLeftContainer,
    .firstTextLeftContainerEnglish {
        line-height: 4rem;
        font-size: 2.35rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;

    }

    .firstTextLeftContainerEnglish {
        font-size: 2.0rem
    }

    .containerBlueLetter {
        display: flex;
        align-items: center;
        margin-top: 0.4rem;

        height: 2rem;

    }

    .contenedorLetterBlueContainer {
        margin-top: -1rem;


    }

    .thirdText,
    .thirdTextEnglish {
        font-family: 'Poppins-Regular';
        font-weight: bold;
        font-size: 2rem;
        line-height: 0px;
    }

    .thirdTextEnglish {
        font-size: 1.7rem;
    }

    .secondTextLeftContainer,
    .secondTextLeftContainerEnglish {
        font-size: 2.35rem;
        font-family: 'Poppins-Regular';
        font-weight: bold;
        line-height: 1rem;

    }



    .secondTextLeftContainerEnglish {
        font-size: 2.0rem
    }

    .leftContainer {

        width: 50%;
        height: 95%;

    }

    .textH3 {
        font-family: 'Poppins-Regular';

        font-size: 2.35rem;
        line-height: 0rem;
    }

    .letterParagraph {
        font-size: 1.2rem;
        text-align: justify;
    }

    .fourthText {
        font-size: 0.9rem;
        font-family: 'Poppins-Regular';

    }

    .additionalText {
        font-size: 35px;
        text-align: left;
        margin-top: 1.5rem;
    }

    .eyesImage {

        width: 13%;

        position: relative;
        margin: 8% 28% 5% 0%;
        transform: rotate(7deg);

    }

    .boxTwo {
        overflow: hidden;
        position: absolute;
        width: 70%;
        height: 30%;
        top: 58%;
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        left: 62%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2;
        border-radius: 10%;
    }

    .boxTwo img {
        position: relative;
        width: 115%;
        height: 101%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .boxOne img {
        position: relative;
        width: 120%;
        height: 155%;
        top: 50%;
        left: 50%;
        /* Asegura que la imagen cubra todo el div */
        transform: translate(-50%, -50%) rotate(-15deg);
    }

    .boxOne {
        box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
        width: 70%;
        height: 30%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 1;
        border-radius: 10%;

    }

    .iconoUserMap {
        width: 50%;
        z-index: 3;
        position: absolute;
        bottom: 68%;
        left: 62%;

    }

    .iconoGirl {
        width: 50%;
        z-index: 3;
        position: absolute;
        top: 35%;
        left: 2%;

    }


    .letterParagraph {
        user-select: none;
        font-family: 'Poppins-Regular';
        font-size: 35px;


    }

    .fourthText {
        font-family: 'Poppins-Regular';
        font-size: 35px;
        color: #028470;
    }
}