@import url('../../fonts/font.css');

.firstContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: white;

}

.defineContainerText {

    width: 95%;

}

.containerTextMoreImage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;

}

.containerBlueLetter {

    width: 100%;
    background-color: #060661;
    border-radius: 1rem;

}


.thirdText {
    font-family: 'Poppins-Regular';
    font-size: 64px;
    padding: 0% 0% 0% 1.5%;
    color: white;


}


.leftContainer {
    display: flex;
    margin: 12% 0% 0% 3%;
    width: 58%;
    height: 75%;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.additionalText {

    font-weight: bolder;

}

.firstTextLeftContainer {
    font-family: 'Poppins-Regular';
    font-size: 64px;
    text-align: left;
    line-height: 1;
    margin-top: 8%;
    margin-bottom: -2%;
    padding: 1rem;

}

.secondTextLeftContainer {
    font-family: 'Poppins-Regular';
    font-size: 64px;
    text-align: left;
    line-height: 1;
    margin-top: 0%;
    padding: 1rem;
    margin-bottom: -8%;


}

.eyesImage {

    width: 25%;
    height: 25%;

    margin: 6% 6% 0% 0%;

}