@import url('../../fonts/font.css');



.container {
    position: relative;
    width: 50%;
    height: 100vh;
    background-color: white;
}


.fatherContainer {
    overflow: hidden;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: row;
}

.letterContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 9.5%;

}


.containerPhotos {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerPhotos img {
    width: 80%;
}

.imageMovilOne {
    z-index: 1;
    width: 70% !important;
    height: auto;
    bottom: 9%;
    left: 28%;
    position: relative;
}


.containerPhotos img:nth-child(2) {
    z-index: 2;
    width: 69%;
    bottom: 9%;
    right: 12%;
    position: relative;
}

.containerPhotos img:nth-child(3) {
    z-index: 3;
    width: 60%;
    bottom: 8%;
    right: 53%;
    position: relative;
}


.elipseContainer {
    display: flex;
    position: absolute;
    width: 170%;
    height: 50%;
    background-color: transparent;
    left: -25%;

}

.elipse {
    position: absolute;
    top: -10%;
    height: 60vh;
    width: 30%;

}


.containerParagraph {
    position: absolute;
    top: 82%;
    width: 45%;
    left: 1%;

}

.containerParagraphTwo {
    position: absolute;
    top: 0%;
    width: 48%;
    left: 20%;

}

.remaining {

    margin-top: 0%;

}

.containerParagraphThree {
    position: absolute;
    top: 87%;
    width: 40%;
    left: 55%;

}


.paragraphSecond {
    text-align: left;
    font-size: 16px;
    font-family: 'RockSalt-Regular';
    transform: rotate(-10deg);
    line-height: 1.6;

}


.paragraphOne {
    text-align: left;
    font-size: 16px;
    font-family: 'RockSalt-Regular';
    transform: rotate(-10deg);
    line-height: 1.6;

}

.arrowDown {
    position: absolute;
    top: 75%;
    left: -2%;
    width: 12%;
    transform: rotate(210deg);

}

.arrowDownSecond {
    position: absolute;
    top: 10%;
    left: 55%;
    width: 12%;
    transform: rotate(27deg);

}

.arrowDownThree {
    position: absolute;
    top: 78%;
    left: 53.5%;
    width: 12%;
    transform: rotate(220deg);
}


.textOneContainer {
    word-wrap: break-word;

    font-family: 'Poppins-Regular';
    font-size: 30px;
    text-align: left;
    position: relative;
    bottom: 8%;

}

.containerTextOne {

    width: 74%;

}

.moreTextContainer {
    font-family: 'Poppins-Regular';
    font-size: 30px;
    text-align: left;
    margin-top: -2%;
}

.containerTextTwo {
    height: 7%;
    width: 75%;
    background-color: cyan;
    border-radius: 25px;
    padding-right: 3%;
    padding: 1%;
    display: flex;
    align-items: center;
}

.textTwoContainer {

    font-family: 'Poppins-Regular';
    font-size: 30px;
    text-align: left;



}

.leftOverTextContainer {
    width: 75%;
    text-align: left;

}

.textThree {

    font-family: 'Poppins-Regular';
    font-size: 20px;
}




@media (min-width: 880px) and (max-width: 1115px) {

    .containerParagraphTwo {
        position: absolute;
        top: 0%;
        width: 60%;
        left: 20%;

    }

    .arrowDownSecond {
        position: absolute;
        top: 12%;
        left: 55%;
        width: 12%;
        transform: rotate(27deg);

    }

    .textTwoContainer {

        font-family: 'Poppins-Regular';
        font-size: 25px;
        text-align: left;



    }

    .textOneContainer {
        word-wrap: break-word;

        font-family: 'Poppins-Regular';
        font-size: 22px;
        text-align: left;
        position: relative;
        bottom: 8%;

    }

    .moreTextContainer {
        font-family: 'Poppins-Regular';
        font-size: 22px;
        text-align: left;
        margin-top: -2%;
    }

    .containerPhotos img:nth-child(2) {
        z-index: 2;
        width: 87%;
        bottom: 8%;
        right: 10%;
        position: relative;
    }

    .imageMovilOne {
        z-index: 1;
        width: 87% !important;
        height: auto;
        bottom: 6%;
        left: 40%;
        position: relative;

    }

    .containerPhotos img:nth-child(3) {
        z-index: 3;
        width: 81%;
        bottom: 10%;
        right: 62%;
        position: relative;
    }

    .arrowDownThree {
        position: absolute;
        top: 78%;
        left: 56.5%;
        width: 12%;
        transform: rotate(220deg);
    }

}