@import url('../../fonts/font.css');



.container {
    position: relative;
    width: 50%;
    height: 100vh;
    background-color: white;
    margin-top: 5%;
}


.fatherContainer {
    align-items: center;
    justify-content: center;
    margin-top: -50vh;
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.letterContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 9.5%;

}


.containerPhotos {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerPhotos img {
    width: 80%;
}

.imageMovilOne {
    z-index: 1;
    width: 70% !important;
    height: auto;
    bottom: 9%;
    left: 28%;
    position: relative;
    animation: elipse 5s ease-in-out infinite;

}


.containerPhotos img:nth-child(2) {
    z-index: 2;
    width: 69%;
    bottom: 9%;
    right: 12%;
    position: relative;
    animation: elipse 5s ease-in-out infinite;

}

.containerPhotos img:nth-child(3) {
    z-index: 3;
    width: 60%;
    bottom: 8%;
    right: 53%;
    position: relative;
    animation: elipse 5s ease-in-out infinite;

}




.elipseContainer {
    display: flex;
    position: absolute;
    width: 170%;
    height: 50%;
    background-color: transparent;
    left: -25%;
    overflow: hidden;


}

.elipse {
    position: absolute;
    top: -10%;
    height: 60vh;
    width: 25%;
    animation: elipse 5s ease-in-out infinite;
    /* Aplica la animación */

}


.containerParagraph {
    position: absolute;
    top: 82%;
    width: 45%;
    left: 1%;

}

.containerParagraphTwo {
    position: absolute;
    top: 0%;
    width: 48%;
    left: 20%;

}

.containerParagraphThree {
    position: absolute;
    top: 87%;
    width: 40%;
    left: 55%;

}


.paragraphSecond {
    text-align: left;
    font-size: 1rem;
    font-family: 'RockSalt-Regular';
    transform: rotate(-10deg);
    line-height: 1.6;

}


.paragraphOne {
    text-align: left;
    font-size: 1rem;
    font-family: 'RockSalt-Regular';
    transform: rotate(-10deg);
    line-height: 1.6;

}

.arrowDown {
    position: absolute;
    top: 75%;
    left: -2%;
    width: 8%;
    transform: rotate(-15deg);
    filter: brightness(0);

}

.arrowDownSecond {
    position: absolute;
    top: 10%;
    left: 55%;
    width: 8%;
    transform: rotate(155deg);
    filter: brightness(0);


}

.arrowDownThree {
    position: absolute;
    top: 78%;
    left: 54.5%;
    width: 8%;
    transform: rotate(150deg) scaleY(-1);
    filter: brightness(0);

}


.textOneContainer {
    word-wrap: break-word;
    line-height: 2rem;
    font-family: 'Poppins-Regular';
    font-size: 2rem;
    text-align: left;
    position: relative;
    bottom: 10%;

}

.containerTextOne {

    width: 74%;
    margin-top: 5rem;

}

.moreTextContainer {
    font-family: 'Poppins-Regular';
    font-size: 30px;
    text-align: left;
    margin-top: -2%;
}

.containerTextTwoForMoreText {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 3rem;
}

.containerTextTwo {
    height: 7%;
    width: 50%;
    background-color: cyan;
    border-radius: 25px;
    padding-right: 3%;
    padding: 1%;
    display: flex;
    align-items: center;
}

.textTwoContainer {

    font-family: 'Poppins-Regular';
    font-size: 30px;
    text-align: left;



}

.leftOverTextContainer {
    width: 75%;
    text-align: left;

}

.textThree {

    font-family: 'Poppins-Regular';
    font-size: 20px;
}




@keyframes elipse {
    0% {
        transform: translateY(0);
        /* Posición inicial */
    }

    50% {
        transform: translateY(-20px);
        /* Subir la elipse */
    }

    100% {
        transform: translateY(0);
        /* Volver a la posición inicial */
    }
}




@media (min-width:600px) and (max-width:831px) {

    .fatherContainer {

        margin-top: -65vh;

    }

    .arrowDownSecond {
        position: absolute;
        top: 26vh;
        left: 25vw;
        width: 8%;
        transform: rotate(155deg);
        filter: brightness(0);


    }

    .containerTextOne {
        width: 60%;
        position: relative;
        left: 8vw;
    }


    .textOneContainer {
        word-wrap: break-word;
        line-height: 2rem;
        font-family: 'Poppins-Regular';
        font-size: 1.2rem;
        text-align: left;
        position: relative;
        bottom: 10%;

    }

    .textTwoContainer {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .letterContainer {

        display: flex;
        align-items: flex-start;
        justify-content: start;

    }

    .containerTextTwo {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        margin-left: 8vw;
        width: 180px;
    }

    .containerTextTwoForMoreText {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        align-items: center;
    }

    .textThree {
        font-size: 1rem;
    }

    .imageMovilOne {
        z-index: 1;
        width: 77% !important;
        height: auto;
        bottom: 1%;
        left: 38%;
        position: relative;
        animation: elipse 5s ease-in-out infinite;

    }


    .containerPhotos img:nth-child(2) {
        z-index: 2;
        width: 80%;
        bottom: 2%;
        right: 10%;
        position: relative;
        animation: elipse 5s ease-in-out infinite;

    }

    .containerPhotos img:nth-child(3) {
        z-index: 3;
        width: 78%;
        bottom: 3%;
        right: 62%;
        position: relative;
        animation: elipse 5s ease-in-out infinite;

    }

    .containerTextThree {

        width: 95%;

    }

    .leftOverTextContainer {
        margin-left: 8.5vw;

    }

    .arrowDown {
        position: absolute;
        top: 75%;
        left: -2%;
        width: 10%;
        transform: rotate(-35deg);
        filter: brightness(0);

    }

    .arrowDownThree {
        position: absolute;
        top: 78%;
        left: 54.5%;
        width: 15%;
        transform: rotate(150deg) scaleY(-1);
        filter: brightness(0);

    }

    .arrowDownSecond {
        position: absolute;
        top: 25vh;
        left: 25vw;
        width: 8%;
        transform: rotate(155deg);
        filter: brightness(0);


    }

}


@media (min-width: 831px) and (max-width:966px) {

    .fatherContainer {

        margin-top: -65vh;

    }

    .arrowDown {
        position: absolute;
        top: 75%;
        left: -2%;
        width: 8%;
        transform: rotate(-30deg);
        filter: brightness(0);

    }

    .arrowDownThree {
        position: absolute;
        top: 78%;
        left: 54.5%;
        width: 8%;
        transform: rotate(150deg) scaleY(-1);
        filter: brightness(0);

    }

    .arrowDownSecond {
        position: absolute;
        top: 22vh;
        left: 25vw;
        width: 8%;
        transform: rotate(155deg);
        filter: brightness(0);


    }

    .containerTextOne {
        width: 60%;
        position: relative;
        left: 8vw;
    }


    .textOneContainer {
        word-wrap: break-word;
        line-height: 2rem;
        font-family: 'Poppins-Regular';
        font-size: 1.2rem;
        text-align: left;
        position: relative;
        bottom: 10%;

    }

    .textTwoContainer {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .letterContainer {

        display: flex;
        align-items: flex-start;
        justify-content: start;

    }

    .containerTextTwo {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        margin-left: 8vw;
        width: 180px;
    }

    .containerTextTwoForMoreText {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        align-items: center;
    }

    .textThree {
        font-size: 1rem;
    }

    .imageMovilOne {
        z-index: 1;
        width: 77% !important;
        height: auto;
        bottom: 1%;
        left: 38%;
        position: relative;
        animation: elipse 5s ease-in-out infinite;

    }


    .containerPhotos img:nth-child(2) {
        z-index: 2;
        width: 80%;
        bottom: 2%;
        right: 10%;
        position: relative;
        animation: elipse 5s ease-in-out infinite;

    }

    .containerPhotos img:nth-child(3) {
        z-index: 3;
        width: 78%;
        bottom: 3%;
        right: 62%;
        position: relative;
        animation: elipse 5s ease-in-out infinite;

    }

    .containerTextThree {

        width: 95%;

    }

    .leftOverTextContainer {
        margin-left: 8.5vw;

    }

    .paragraphSecond,
    .paragraphOne {
        font-size: 0.7rem;
    }

    .arrowDown {
        top: 90%;
    }

    .arrowDownSecond {
        top: 8%;
    }

    .containerParagraphTwo {
        top: -9%;
    }

    .containerParagraph {
        top: 95%;
    }

    .arrowDownThree {
        top: 90%;
    }

    .containerParagraphThree {
        top: 95%;
    }

    .textOneContainer {
        font-size: 18px;
    }

}



@media (min-width: 966px) and (max-width:1100px) {

    .fatherContainer {

        margin-top: -65vh;

    }

    .arrowDown {
        position: absolute;
        top: 76%;
        left: -2%;
        width: 8%;
        transform: rotate(-30deg);
        filter: brightness(0);

    }

    .arrowDownThree {
        position: absolute;
        top: 78%;
        left: 54.5%;
        width: 8%;
        transform: rotate(150deg) scaleY(-1);
        filter: brightness(0);

    }

    .arrowDownSecond {
        position: absolute;
        top: 10vh;
        left: 25vw;
        width: 8%;
        transform: rotate(155deg);
        filter: brightness(0);
    }

    .containerParagraphTwo {
        position: absolute;
        top: -5%;
        width: 48%;
        left: 20%;
    }

    .paragraphSecond {
        font-size: 0.8rem;
    }

    .arrowDownThree {
        top: 88%;
    }

    .containerParagraphThree {
        top: 93%;
    }

    .containerParagraph {
        top: 90%;
    }

    .paragraphOne {
        font-size: 0.8rem;
    }

    .arrowDown {
        top: 83%;
    }


    .containerTextOne {
        width: 60%;
        position: relative;
        left: 8vw;
    }


    .textOneContainer {
        word-wrap: break-word;
        line-height: 2rem;
        font-family: 'Poppins-Regular';
        font-size: 1.4rem;
        text-align: left;
        position: relative;
        bottom: 10%;

    }

    .textTwoContainer {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .letterContainer {

        display: flex;
        align-items: flex-start;
        justify-content: start;

    }

    .containerTextTwo {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        margin-left: 8vw;
        width: 240px;

    }

    .containerTextTwoForMoreText {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        align-items: center;
    }

    .textThree {
        font-size: 1.2rem;
    }

    .imageMovilOne {
        z-index: 1;
        width: 75% !important;
        bottom: 5vh;
        left: 32%;
        position: relative;
        animation: elipse 5s ease-in-out infinite;

    }


    .containerPhotos img:nth-child(2) {
        z-index: 2;
        width: 75%;
        bottom: 5%;
        right: 14%;
        position: relative;
        animation: elipse 5s ease-in-out infinite;

    }

    .containerPhotos img:nth-child(3) {
        z-index: 3;
        width: 72%;
        bottom: 3%;
        right: 62%;
        position: relative;
        animation: elipse 5s ease-in-out infinite;

    }

    .containerTextThree {

        width: 95%;

    }

    .leftOverTextContainer {
        margin-left: 8.5vw;

    }



}



@media (min-width: 1100px) and (max-width:1400px) {

    .fatherContainer {

        margin-top: -65vh;

    }

    .arrowDown {
        position: absolute;
        top: 85%;
        left: -2%;
        width: 8%;
        transform: rotate(-30deg);
        filter: brightness(0);

    }

    .arrowDownThree {
        position: absolute;
        top: 82%;
        left: 54.5%;
        width: 8%;
        transform: rotate(150deg) scaleY(-1);
        filter: brightness(0);

    }

    .arrowDownSecond {
        position: absolute;
        top: 2vh;
        left: 25vw;
        width: 8%;
        transform: rotate(155deg);
        filter: brightness(0);


    }

    .containerTextOne {
        width: 60%;
        position: relative;
        left: 8vw;
    }

    .containerParagraphTwo {
        margin-top: -15vh;
    }


    .textOneContainer {
        word-wrap: break-word;
        line-height: 2rem;
        font-family: 'Poppins-Regular';
        font-size: 1.7rem;
        text-align: left;
        position: relative;
        bottom: 10%;

    }

    .textTwoContainer {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .letterContainer {

        display: flex;
        align-items: flex-start;
        justify-content: start;

    }

    .containerTextTwo {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        margin-left: 8vw;
        width: 250px;
    }

    .containerTextTwoForMoreText {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        align-items: center;
    }

    .textThree {
        font-size: 1.2rem;
    }

    .imageMovilOne {
        z-index: 1;
        width: 75% !important;
        bottom: 12vh;
        left: 32%;
        position: relative;
        animation: elipse 5s ease-in-out infinite;

    }


    .containerPhotos img:nth-child(2) {
        z-index: 2;
        width: 75%;
        bottom: 13%;
        right: 14%;
        position: relative;
        animation: elipse 5s ease-in-out infinite;

    }

    .containerPhotos img:nth-child(3) {
        z-index: 3;
        width: 72%;
        bottom: 14%;
        right: 62%;
        position: relative;
        animation: elipse 5s ease-in-out infinite;

    }

    .containerTextThree {

        width: 95%;

    }

    .leftOverTextContainer {
        margin-left: 8.5vw;

    }

    .containerParagraph {
        margin-top: 10vh;
    }

    .containerParagraphThree {

        margin-top: 0vh;
    }

    .textOneContainer {
        font-size: 24px;

    }



}


@media(min-width:1366px) and (min-height:768px) {

    .containerParagraphTwo {

        margin-top: -10vh;

    }

}

@media (min-width: 1401px) {
    .elipseContainer {
        display: flex;
        position: absolute;
        width: 130%;
        height: 50%;
        background-color: transparent;
        left: -10%;
        overflow: hidden;
    }

    .fatherContainer {
        margin-top: -70vh;
    }

    .textTwoContainer {
        font-size: 35px;

    }

    .paragraphOne,
    .paragraphSecond {
        font-size: 1rem;
    }

    .containerParagraphTwo {
        margin-top: -02vh;

    }

    .textTwoContainer {
        font-size: 2rem;

    }

    .containerParagraphThree {
        top: 85%;
    }

    .containerTextTwoForMoreText {
        margin-left: 15vw;
        justify-content: flex-start;

    }

    .arrowDown {
        right: 50%;
    }

    .textTwoContainer {
        font-size: 25px;

    }

}

@media(min-width:1419px) and (min-height:976px) {

    .container {
        margin-top: 10%;
    }

}

@media (min-width: 1501px) {
    .elipseContainer {
        display: flex;
        position: absolute;
        width: 130%;
        height: 50%;
        background-color: transparent;
        left: -10%;
        overflow: hidden;
    }

    .fatherContainer {
        margin-top: -70vh;
    }

    .textTwoContainer {
        font-size: 30px;

    }

    .paragraphOne,
    .paragraphSecond {
        font-size: 1.2rem;
    }

    .containerParagraphTwo {
        margin-top: -02vh;
    }
}