@import url('../../fonts/font.css');

.container {

    width: 100%;
    height: auto;
    background-color: #242244;
    user-select: none;
    overflow: none;
}

.containerLetter {
    padding: 5%;
    color: white;
    text-align: left;

}

.h2Letter {
    font-family: 'PlusJakartaSans-Bold';
    font-size: 45px;
}

.paragraph {

    font-family: 'PlusJakartaSans-Regular';
    font-size: 45px;

}


.buttonCallToAction {
    margin-left: 2%;
    width: 35%;
    padding: 1%;
    font-size: 24px;
    color: #060661;
    font-family: 'Roboto-Regular';
    font-weight: bold;
    border-radius: 15px;
}