@import url('../../fonts/font.css');

.container {
    z-index: 2;
    background-image: url('../../Assets/block-5-background.png');
    width: 100%;
    min-height: 100vh;
    /* Asegura que el contenedor ocupe al menos toda la pantalla */
    /* Degradado de #242244 a negro */
    user-select: none;
    overflow: hidden;
    background-color: white;
    position: relative;
    align-items: center;
    display: flex;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
}



.carrousel {
    width: 100vw;
    position: relative;
    top: 12.5rem;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}

.blockFiveContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: -5%;


}

.containerLetter {
    padding: 5%;
    color: white;
    text-align: left;
    width: 75%;
    margin-top: 15%;

}



.h2Letter {
    font-family: 'PlusJakartaSans-Bold';
    font-size: 30px;
}

.paragraph {

    font-family: 'PlusJakartaSans-Regular';
    font-size: 30px;

}

.paragraphSmall {
    font-family: 'Poppins-Regular';
    font-size: 20px;
}


.buttonCallToAction {
    margin-left: 0%;
    width: 63%;
    padding: 1%;
    font-size: 24px;
    color: #060661;
    font-family: 'Roboto-Regular';
    font-weight: bold;
    border-radius: 15px;
}

.containerLogo {
    position: absolute;
    top: 9%;
    left: 65%;
    transform: translateX(-30%);
    width: 25%;
}

.containerLogo img {
    width: 100%;
}

@media (min-width: 743.33px) and (max-width: 800px) {}

@media (min-width: 600px) and (max-width: 700px) {}