@font-face {
    font-family: 'Rock Salt';
    src: url('./Fonts/RockSalt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('./Fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('./Fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('./Fonts/Roboto-Bold.ttf') format('truetype');
}

/* trae Alkatra-Regular.ttf */
@font-face {
    font-family: 'Alkatra';
    src: url('./Fonts/Alkatra-Regular.ttf') format('truetype');
}

.fondo {
    height: 100vh;
    padding-top: 10px;
    background: linear-gradient(116.31deg, #161616 9.12%, #0B0B48 37.65%, #060661 47.42%, #0C0C45 65.37%, #0C0C0C 99.95%);
}

.columnas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.columnaSingular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 35vw;
    margin: 0 7.5px;
}

.rockSaltText {
    font-family: 'Rock Salt', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
}

.icon1 {
    width: 200px;
    margin-bottom: 20px;
}

.logo {
    width: 200px;
    margin-right: 15px;
}

.textoBienvenida {
    color: #ffffff;
    font-family: 'Poppins Regular', sans-serif;
    /* justifica el texto */
    text-align: justify;
}

.textoBienvenidaBold {
    color: #ffffff;
    font-family: 'Poppins Bold', sans-serif;
}

.textoBienvenidaContraste {
    color: black;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 2px;
    font-family: 'Poppins Regular', sans-serif;
}

.phoneView {
    width: 50%;
}

.boton {
    color: #060661;
    background-color: #ffffff;
    border-radius: 12.5px;
    padding: 5px 40px;
    width: 100%;
    text-align: center;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
}

.footerText {
    font-family: Rock Salt;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    display: inline-flex;
    margin-bottom: 120px;
    margin-left: 20px;
    transform: rotate(-5deg);
}

.fila {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.arrow {
    /* gira la image 90 grados a la derecha     */
    transform: rotate(120deg);
}

.contador {
    color: #00FFD7;

    font-family: 'Poppins Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
    margin-right: 20px;
}

.contadorNumero {
    color: #00FFD7;

    margin: 0;

    font-family: 'Poppins Regular', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-align: center;

}

.contadorSubtitulo {
    color: #00FFD7;
    margin: 0;
    font-family: 'Poppins Regular', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 14.98px;
    text-align: center;

}

.filaContador {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 00px;
    width: 100%;
    margin-bottom: 4vh;
}

.fechaContenedor {
    margin: 0 10px;
}

.subtitulo {
    color: #ffffff;
    /* poppins; */
    font-family: 'Poppins Regular', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 51px;
    text-align: left;
    margin: 0;
}

.bloqueVerde {
    /* poppins */
    font-family: 'Poppins Regular', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 51px;
    text-align: left;
    color: #000000;
    background-color: var(--Color-acento-landing, #00FFD7);
    display: inline;
    padding: 0 5px;
    margin: 5px 0 20px 0;
    border-radius: 10px;
}

.cajaVertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0px;
}

.textoPoppinsDefault {
    font-family: 'Poppins Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    margin: 0;
}

.textoFooter {
    font-family: Alkatra;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    margin: 15px 0 10px 0;
}

footer {
    width: 20%;
    margin: 0 auto;
}

.arrowText {
    color: #ffffff;
    /* rock belt */
    font-family: 'Rock Salt', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.arrowContainer {
    /* lo pongo en horizontal */
    display: flex;
    flex-direction: row;
    justify-content: center;
}